code#highlighted_regex {
	background-color: lightgrey;
	font-family: monospace;
	display: block;
	padding: 10px;
	font-size: 30px;
}

code .highlighted {
	color: orange;
}

code .underlined {
	text-decoration: underline;
	color: blue;
}

code .matching-parens {
	color: magenta;
}
