<html>
	<head>
		<title>Regex and BNF visualiser</title>
		<link rel="stylesheet" href="./regex.css" />
		<link rel="icon" href="favicon.png">
	</head>

	<body>
		<canvas id="nfa-picture" width="1000px" height="500px">
			Non-deterministic finite state automaton interactive picture
		</canvas>
		<p><label><input type="checkbox" id="add_trap_state"> Add trap state?</label</p>
		<code id="highlighted_regex"></code>
		<p>/<input id="inputted_regex">/</p>
		<p>Test word: <input id="test_word"> <span id="does_match"></span> Pumping lemma hint: <span id="pumping_hint"></span></p>
		<p>Last pumping lemma output: (nothing to pump yet - see hint above) <span id="pumping_out"></span> <input type="number" id="repeat_box" width="3" value="1"></p>
		<div id="human_readable">
			
		</div>
		
		<script type="module" src="./static/nfa.js"></script>
		<script type="module" src="./static/regex_parse.js"></script>
		<script type="module" src="./static/util.js"></script>
		<script type="module" src="./static/canvas.js"></script>
		<script type="module" src="./static/graphRenderer.js"></script>
	</body>
</html>
