<h1>Your profile</h1>
<p>
You are a teacher. When your students create their accounts, they need
to enter your special link code in order for you to see their saved content.
</p>
<p>Your code is <%= user.id %>.<p>
<p>Your name is <q><%= user.preferredName %></q> and your username is <q><%= user.username %></q>.
<p>You teach at <q><%= user.schoolName %></q></p>
<p>If you want, you can delete your account:<p>
<form action="/accountDelete" method="POST" id="delete_form">
	<button onclick="confirmDeletion();" type="button">Delete account</button>
</form>

<script>
function confirmDeletion () {
	if (confirm("Are you sure you want to delete your account? This will also delete your students' linked accounts")) {
		document.querySelector("#delete_form").submit()
	}
}
</script>